    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/nicholasjmireles">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-linkedin fa-stack-1x"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/nicholasmireles/">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-github fa-stack-1x"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/nicholasmireles/">
                  <span class="fa-stack fa-lg">
                    <i class="fab fa-hackerrank fa-stack-1x"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Any views expressed here are solely my own and do not reflect those of my employers, past or present.<br>&copy;Nicholas Mireles 2020.<br>Original theme &copy;Start Bootstrap LLC 2020.</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ '/assets/vendor/jquery/jquery.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' | absolute_url }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ '/assets/js/clean-blog.min.js' | absolute_url }}"></script>

    <!-- Custom script to enable tool-tip magic! -->
    <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>

    <!-- Handle dark mode -->
    <script type="text/javascript">
        function setLight(){
            $("body").css("background-color","white");
            $(".card").css("background-color","white");
            $(".card-header").css("background-color","#f7f7f7");
            $(".bg-dark").removeClass("bg-dark").addClass("bg-light")
            $(".breadcrumb").css("background-color","white")
            $("code").css("background-color","#f8f9fa")
            $("body").css("color","black");

            $("#mainNav").css("background-color","white");
            $("#mainNav").find('*').css("color","#212529");
            $("i").toggleClass("fa-inverse");
        }
        function setDark(){
            $("body").css("background-color","#2b2b2b");
            $(".card").css("background-color","#2b2b2b");
            $(".card-header").css("background-color","#777");
            $(".bg-light").removeClass("bg-light").addClass("bg-dark")
            $(".breadcrumb").css("background-color","#2b2b2b")
            $("code").css("background-color","#CECECE")
            $("body").css("color","white");
            $("a").css("color","white");

            $("#mainNav").css("background-color","#2b2b2b");
            $("#mainNav").find('*').css("color","white");
            $("i").toggleClass("fa-inverse");
        }

        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        setDark();
        }

        window.matchMedia('(prefers-color-scheme: dark)').addListener(function (e) {
        e.matches ? setDark() : setLight();});
    </script>

  </body>

</html>
