{% include header.html %}

    {% include breadcrumb.html %}

    <!-- Post list -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in site.tutorials %}
        {% if post.categories contains page.series-category %}
          <div class="post-preview">
            <a href="{{ post.url }}">
              <h2 class="post-title">
                {{ post.title }}
              </h2>
              <h3 class="post-subtitle">
                    {{ post.description }}
              </h3>
            </a>
            <p class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</p>
          </div>
          {% endif %}
          {% endfor %}
          <hr>
          <!-- Pager -->
        </div>
      </div>
    </div>

{% include footer.html %}
